body{
font-family : Arial, sans-serif;
 background-image: linear-gradient(to right, #d71fef 0%, #0083f5 100%);
  display: flex;      
    display: flex;           /* Activamos flexbox */

    align-items: center;     /* Centrado vertical */
    height: 100vh;           /* Altura total de la ventana */
    margin: 0;               /* Quitamos márgenes por defecto */
}
.login-container {
height: 50vh;           /* Alto total de la pantalla */
justify-content: center; /* Centrar horizontalmente */
width: 350px;
margin: 0 auto; /* centra horizontalmente */
padding: 30px;
background-color:#fff;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.login-container h2 {
text-align: center;
margin-bottom: 20px;
}

.login-container label {
display: block;
margin-bottom: 5px;
font-weight : bold;
}
.login-container input {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border: lpx solid#ccc;
border-radius: 5px;
box-sizing: border-box; /* para que el padding y border no rompan el ancho */
}

.login-container button {
width: 80%;
padding: 15px;
background-color:#1B67E3;
border: none;
color: #fff;
font-size: 20px;
border-radius: 4px;
cursor: pointer;
 margin: 0 auto; /* centra horizontalmente */
 display: block; /* necesario para que el margin funcione bien */
}

.login-container button:hover {
background-color: #1655BB;
font-weight : bold;
}

#error-message{
color:#1B67E3;
text-align:center;
margin-top: 10px;
font-weight : bold;
}